
body {
    font-family: 'Nutmeg-Black', sans-serif;
}

.mainContent {
    min-height: 90vh;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: all 0.35s ease-in-out;
}

.mainContent.expand{
    transition: all 0.35s ease-in-out;
}

.formCard {
    margin: auto;
    background-color: #f4f4f4;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1), 0 1px 3px rgba(0, 0, 0, 0.08);
    margin-top: 2rem;
    width: clamp(25rem, 40vw, 28rem);

}

@media  (max-width: 768px) {
    .formCard {
        transform: scale(0.7) translateY(-15rem);
    }
    .mainContent.expand{
        transform: translateX(30rem);
    }
    .mainContent{
        flex-direction: column;
    }
}