dialog {
    width: clamp(15rem, 20vw, 40rem);
    padding: 20px;
    background-color: #f9f9f9;
    border: 1px solid #ccc;
    border-radius: 5px;
    margin-top: 1rem;
    position: relative;
    transform: translate(0 , -50rem);
}
@media (max-width: 768px) {
    dialog {
        width: 260px;
        transform: translate(3rem, -45rem);
    }

}
fieldset{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}

input[type="text"] {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

button[type="submit"],
#cancel {
    padding: 10px 20px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin: 1rem 0 ;
}

#cancel {
    margin-right: 10px;
    background-color: #dc3545;
}
