dialog {
    width: clamp(17rem, 60vw, 30rem);
    padding: 0;
    background-color: #f9f9f9;
    border: 1px solid #ccc;
    border-radius: 5px;
    margin-top: 1rem;
    position: relative;
    transform: translate(0px, -63rem);
}

@media (max-width: 768px) {
    dialog{
        transform: translate(3rem, -78rem);
    }
}

input[type="text"] {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

button[type="submit"],
#cancel {
    padding: 10px 20px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

#cancel {
    margin-right: 10px;
    background-color: #dc3545;
}