/* Estilos generales */


.formCard-body {
    height: 100%;
}
#proveedorSelect {
    width: 80%;
}
legend {
    font-weight: bold;
    margin-bottom: 10px;
    color: #333;
}

.form-group {
    margin-bottom: 20px;
}

label {
    font-weight: bold;
    color: #333;
    font-weight: 300;
}

input[type="text"],
input[type="date"],
button[type="submit"] {
    width: 90%;
    padding: 12px;
    border: 1px solid #ddd;
    border-radius: 4px;
    font-size: 16px;
}

/* Botón de enviar */
.formCard button[type="submit"] {
    background-color: #052c65;
    color: #fff;
    cursor: pointer;
    transition: background-color 0.3s;
    border: none;
}

.formCard button[type="submit"]:hover {
    background-color: #3762a3;
}

/* Estilos de respuesta */
@media (max-width: 768px) {

    input[type="text"],
    input[type="date"],
    button[type="submit"] {
        width: calc(100% - 35px);
    }
}
